{% extends "template.njk" %}
{% from "macros/common-components.njk" import renderRedirectSuccess %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  {{ renderRedirectSuccess(
    addressRedirectUrl,
    "New service centre has been created, you will be redirected to the edit address page shortly. If you do not add an address, this service centre will be marked as closed.",
    "Continue to add an address for " + serviceCentreName
  ) }}
{% endblock %}
