{% extends "template.njk" %}
{% from "macros/common-components.njk" import successPanel, addressBlock, nextActionsList %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  {{ successPanel("Address deleted: " + addressBlock(address, true), "You have removed this address for " + serviceCentreName) }}
  {{ nextActionsList([
    { href: '/service-centres/' + serviceCentreId + '/edit/address', text: 'Back to address' },
    { href: '/', text: 'Home' }
  ]) }}
{% endblock %}
