{% extends "template.njk" %}
{% from "macros/common-components.njk" import successPanel, addressBlock, nextActionsList %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  {% set successMessage = "Addresses for " + serviceCentreName + " have been successfully updated." %}
  {% if serviceCentreOpened %}
    {% set successMessage = successMessage + " The service centre is now open." %}
  {% endif %}
  {{ successPanel("Address saved: " + addressBlock(address, true), successMessage) }}
  {{ nextActionsList([
    { href: '/service-centres/' + serviceCentreId + '/edit/address', text: 'Back to address' },
    { href: '/', text: 'Home' }
  ]) }}
{% endblock %}
