# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock
!version
!.yarn/
!.yarn/**
!.yarnrc.yml
!app
!public
!tsconfig.json
!tsconfig.*.json
!webpack/
!webpack/**
!src/main/**
!config/
!config/**
!webpack.config.js

!src
!src/
!src/main/
src/test
