# ----------------------------------------------------------------------------
# FaCT Data API URL
# ----------------------------------------------------------------------------
DATA_API_URL=http://localhost:8989

# ----------------------------------------------------------------------------
# Access URLs for Admin pages
# ----------------------------------------------------------------------------
ADMIN_URL=https://localhost:3355

# ----------------------------------------------------------------------------
# Playwright settings
# ----------------------------------------------------------------------------
PLAYWRIGHT_REPORTERS=list,odhin
PLAYWRIGHT_VIDEO_MODE=retain-on-failure

# ----------------------------------------------------------------------------
# User setup - testing (non production) accounts for SSO login
# ----------------------------------------------------------------------------

SSO_TEST_ADMIN_EMAIL="<sso-test-admin-email>"
SSO_TEST_ADMIN_PASSWORD="<sso-test-admin-password>"
SSO_TEST_SUPER_ADMIN_EMAIL="<sso-test-super-admin-email>"
SSO_TEST_SUPER_ADMIN_PASSWORD="<sso-test-super-admin-password>"
SSO_TEST_VIEWER_EMAIL="<sso-test-viewer-email>"
SSO_TEST_VIEWER_PASSWORD="<sso-test-viewer-password>"
