# ----------------------------------------------------------------------------
# FaCT Data API URL
# ----------------------------------------------------------------------------
DATA_API_URL=https://localhost:8989/

# ----------------------------------------------------------------------------
# Access URLs for Admin pages
# ----------------------------------------------------------------------------
TEST_URL=https://localhost:3355/

# ----------------------------------------------------------------------------
# Playwright settings
# ----------------------------------------------------------------------------
PLAYWRIGHT_REPORTERS=list,odhin
PLAYWRIGHT_VIDEO_MODE=retain-on-failure

# ----------------------------------------------------------------------------
# User setup
# ----------------------------------------------------------------------------

# TODO: FACT-2582 - Replace this config with the required setup (e.g. usernames, passwords, etc.)
# for the tests to run successfully. Just placeholders for now.
ADMIN_SSO_ID=admin
SUPER_ADMIN_SSO_ID=super_admin
