# ----------------------------------------------------------------------------
# FaCT Data API URL
# ----------------------------------------------------------------------------
DATA_API_URL=http://localhost:8989

# ----------------------------------------------------------------------------
# Access URLs for Admin pages
# ----------------------------------------------------------------------------
ADMIN_URL=https://localhost:3355

# ----------------------------------------------------------------------------
# Photo storage URL for local testing (azurite)
# ----------------------------------------------------------------------------
PHOTO_IMG_SRC=http://127.0.0.1:*

# ----------------------------------------------------------------------------
# Playwright settings
# ----------------------------------------------------------------------------
PLAYWRIGHT_REPORTERS=list,odhin
PLAYWRIGHT_VIDEO_MODE=retain-on-failure

# local session management settings. Both are required, timeout needs to be
# between 1 and 30 mins or the settings will be ignored
# KEEP_SESSION_FILES=true
# SESSION_FILE_TIMEOUT_MINS=20

# ----------------------------------------------------------------------------
# User setup - testing (non production) accounts for SSO login
# ----------------------------------------------------------------------------

SSO_TEST_ADMIN_EMAIL="<sso-test-admin-email>"
SSO_TEST_ADMIN_PASSWORD="<sso-test-admin-password>"
SSO_TEST_SUPER_ADMIN_EMAIL="<sso-test-super-admin-email>"
SSO_TEST_SUPER_ADMIN_PASSWORD="<sso-test-super-admin-password>"
SSO_TEST_VIEWER_EMAIL="<sso-test-viewer-email>"
SSO_TEST_VIEWER_PASSWORD="<sso-test-viewer-password>"
