{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Access Denied</h1>
  <p class="govuk-body">You do not have permission to view this page. This access attempt has been logged.</p>
{% endblock %}
