{% extends "template.njk" %}
{% from "macros/common-components.njk" import successPanel %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  {{ successPanel("Approval saved", "You have approved the data for " + name + ". If this was done in error please contact the NSU. nationalsupportunit@justice.gov.uk") }}

  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">What do you want to do next?</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="{{ editPath }}" class="govuk-link govuk-link--no-visited-state">Back to {{ "Reviewing" if isViewer else "Editing" }} - {{ name }}</a></li>
    <li><a href="/" class="govuk-link govuk-link--no-visited-state">Back to Courts, tribunals and service centres list</a></li>
  </ul>
{% endblock %}
