{% extends "template.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/common-components.njk" import confirmationActions %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Are you sure you want to approve the data for this court/service centre/tribunal?</h1>
      <p class="govuk-body">Make sure you have checked the data in all sections before approving.</p>

      <form method="post" action="{{ editPath }}/approve">
        {{ govukSummaryList({
          rows: [
            {
              key: { text: "Court/service centre/tribunal" },
              value: { text: name }
            },
            {
              key: { text: "Confirm" },
              value: { text: "Approve the data for this court/service centre/tribunal" }
            }
          ]
        }) }}

        {{ confirmationActions("Confirm data", cancelHref) }}
      </form>
    </div>
  </div>
{% endblock %}
