{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "macros/common-components.njk" import modelDrivenErrorSummary %}

{# MACROS #}

{% macro createFilterDateInput(dateString, id, text, hint, errors=[]) %}
  {{ mojDatePicker({
    id: id,
    name: id,
    label: {
      text: text
    },
    hint: {
      text: hint
    },
    value: dateString
  }) }}
{% endmacro %}

{% macro createDiffDetails(diffData) %}
  {% call govukDetails({
    summaryText: "Details"
  }) %}
    {% if diffData.length %}
      <pre>{{ diffData | dump(2) }}</pre>
    {% else %}
      <pre>No recorded change data</pre>
    {% endif %}
  {% endcall %}
{% endmacro %}


{% macro createPager(currentFilters, pageInfo) %}

  {# calculate the base href using the current filters #}
  {% set baseHref = "/audits?"%}
  {% for param, value in currentFilters %}
    {% if param !== 'pageNumber' and value %}
      {% set baseHref = baseHref + param + "=" + value + "&" %}
    {% endif %}
  {% endfor %}
  {% set baseHref = baseHref + "pageNumber=" %}

  {# create the pager items #}
  {% set items = [] %}
  {% if pageInfo.number > 1 %}
    {% set items = (items.push({number: 1, href: baseHref + 1}), items) %}
  {% endif %}
  {% if pageInfo.number > 3 %}
    {% set items = (items.push({ ellipsis: true }), items) %}
  {% endif %}
  {% if pageInfo.number > 2 %}
    {% set items = (items.push({number: pageInfo.number - 1, href: baseHref + (pageInfo.number - 1)}), items) %}
  {% endif %}
  {% set items = (items.push({number: pageInfo.number, href: baseHref + pageInfo.number, current: true}), items) %}
  {% if pageInfo.number < pageInfo.totalPages - 1 %}
    {% set items = (items.push({number: pageInfo.number + 1, href: baseHref + (pageInfo.number + 1)}), items) %}
  {% endif %}
  {% if pageInfo.number < pageInfo.totalPages - 2 %}
    {% set items = (items.push({ ellipsis: true }), items) %}
  {% endif %}
  {% if pageInfo.number < pageInfo.totalPages %}
    {% set items = (items.push({number: pageInfo.totalPages, href: baseHref + pageInfo.totalPages}), items) %}
  {% endif %}

  {{ govukPagination({
    classes: "audit-list-pagination",
    previous: {
      href: baseHref + (pageInfo.number - 1)
    } if pageInfo.number > 1 else null,
    next: {
      href: baseHref + (pageInfo.number + 1)
    } if pageInfo.number < pageInfo.totalPages else null,
    items: items
  }) }}
{% endmacro %}

{# END MACROS #}

{% set courtOptions = [{
  value: "",
  text: "All courts"
}] %}

{% set serviceCentreOptions = [{
  value: "",
  text: "All service centres"
}] %}

{# pull concrete values from the subjects map #}
{% for subject, list in subjects %}
  {% if subject === "COURT" %}
    {% for court in list %}
      {% set courtOptions = (courtOptions.push({
        value: court.id,
        text: court.name
      }), courtOptions) %}
    {% endfor %}
  {% elseif subject === "SERVICE_CENTRE" %}
    {% for serviceCentre in list %}
      {% set serviceCentreOptions = (serviceCentreOptions.push({
        value: serviceCentre.id,
        text: serviceCentre.name
      }), serviceCentreOptions) %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% set auditTableRows = [] %}
{% if audits.content.length %}
  {% for audit in audits.content %}
    {% set auditTableRows = (auditTableRows.push([
      {
        html: audit.user.email
      },
      {
        html: audit.actionType
      },
      {
        html: audit.actionEntity
      },
      {
        html: audit.createdAt
      },
      {
        html: createDiffDetails(audit.actionDataDiff)
      }
    ]), auditTableRows) %}
  {% endfor %}
{% endif %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      {% if model.errors %}
        {{ modelDrivenErrorSummary(model) }}
      {% endif %}

      <h1 class="govuk-heading-l">Audits</h1>

      <form method="GET" action="/audits">

        {{ createFilterDateInput(
          filters.fromDate,
          "fromDate",
          "From date",
          "Search for audits from the start of this date",
          model.errors.fromDate) }}

        {{ createFilterDateInput(
          filters.toDate,
          "toDate",
          "To date",
          "Search for audits to the end of this date",
          model.errors.toDate) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "Search for audits by email address (partial matches are allowed)"
          },
          classes: "govuk-!-width-one-third",
          id: "email",
          name: "email",
          autoComplete: "email",
          value: filters.email
        }) }}

        {{ govukSelect({
          id: "courtId",
          name: "courtId",
          label: {
            text: "Court"
          },
          hint: {
            text: "Search for audits by specific court"
          },
          items: courtOptions,
          value: filters.courtId
        }) }}

        {{ govukButton({
          text: "Apply Filters"
        }) }}

        {% if auditTableRows.length %}
          {{ govukTable({
            firstCellIsHeader: false,
            head: [
              {
                text: "user"
              },
              {
                text: "action"
              },
              {
                text: "location"
              },
              {
                text: "created at"
              },
              {
                text: "details"
              }
            ],
            rows: auditTableRows
          }) }}
        {% else %}
          <p class="govuk-body">No audits returned.</p>
        {% endif %}

        {{ createPager(filters, audits.page) }}
      </form>

    </div>
  </div>
{% endblock %}
