{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "macros/common-components.njk" import modelDrivenErrorSummary %}

{# MACROS #}

{% macro createPager(currentFilters, pageInfo) %}

  {# calculate the base href using the current filters #}
  {% set baseHref = "/audits?" %}
  {% for param, value in currentFilters %}
    {% if param !== 'pageNumber' and value %}
      {% set baseHref = baseHref + param + "=" + value + "&" %}
    {% endif %}
  {% endfor %}
  {% set baseHref = baseHref + "pageNumber=" %}

  {# create the pager items #}
  {% set items = [] %}
  {% if pageInfo.number > 1 %}
    {% set items = (items.push({number: 1, href: baseHref + 1}), items) %}
  {% endif %}
  {% if pageInfo.number > 3 %}
    {% set items = (items.push({ ellipsis: true }), items) %}
  {% endif %}
  {% if pageInfo.number > 2 %}
    {% set items = (items.push({number: pageInfo.number - 1, href: baseHref + (pageInfo.number - 1)}), items) %}
  {% endif %}
  {% set items = (items.push({number: pageInfo.number, href: baseHref + pageInfo.number, current: true}), items) %}
  {% if pageInfo.number < pageInfo.totalPages - 1 %}
    {% set items = (items.push({number: pageInfo.number + 1, href: baseHref + (pageInfo.number + 1)}), items) %}
  {% endif %}
  {% if pageInfo.number < pageInfo.totalPages - 2 %}
    {% set items = (items.push({ ellipsis: true }), items) %}
  {% endif %}
  {% if pageInfo.number < pageInfo.totalPages %}
    {% set items = (items.push({number: pageInfo.totalPages, href: baseHref + pageInfo.totalPages}), items) %}
  {% endif %}

  {{ govukPagination({
    classes: "audit-list-pagination",
    previous: {
      href: baseHref + (pageInfo.number - 1)
    } if pageInfo.number > 1 else null,
    next: {
      href: baseHref + (pageInfo.number + 1)
    } if pageInfo.number < pageInfo.totalPages else null,
    items: items
  }) }}

{% endmacro %}

{# END MACROS #}

{% set courtOptions = [{
  value: "",
  text: "All courts"
}] %}

{% set serviceCentreOptions = [{
  value: "",
  text: "All service centres"
}] %}

{# pull concrete values from the subjects map #}
{% for subject, list in subjects %}
  {% if subject === "COURT" %}
    {% for court in list %}
      {% set courtOptions = (courtOptions.push({
        value: court.id,
        text: court.name
      }), courtOptions) %}
    {% endfor %}
  {% elseif subject === "SERVICE_CENTRE" %}
    {% for serviceCentre in list %}
      {% set serviceCentreOptions = (serviceCentreOptions.push({
        value: serviceCentre.id,
        text: serviceCentre.name
      }), serviceCentreOptions) %}
    {% endfor %}
  {% endif %}
{% endfor %}

{%- set filterOptionsHtml %}

  {{ mojDatePicker({
    id: "fromDate",
    name: "fromDate",
    label: {
      text: "Between",
      classes: "govuk-label--m"
    },
    classes: "govuk-!-margin-bottom-3",
    value: filters.fromDate,
    errorMessage: {
      text: errors.fromDate[0]
    } if errors.fromDate else null
  }) }}

  {{ mojDatePicker({
    id: "toDate",
    name: "toDate",
    label: {
      text: "And"
    },
    classes: "govuk-!-margin-bottom-6",
    value: filters.toDate,
    errorMessage: {
      text: errors.toDate[0]
    } if errors.toDate else null
  }) }}

  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--m"
    },
    id: "email",
    name: "email",
    autoComplete: "email",
    value: filters.email,
    errorMessage: {
      text: errors.email[0]
    } if errors.email else null
  }) }}

  {{ govukSelect({
    id: "courtId",
    name: "courtId",
    label: {
      text: "Court",
      classes: "govuk-label--m"
    },
    items: courtOptions,
    value: filters.courtId
  }) }}

{% endset -%}

{% set auditTableRows = [] %}
{% if audits.content.length %}
  {% for audit in audits.content %}

    {% set auditDetailHtml %}
      <a target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state" href="/audits/{{audit.id}}">
        Details
      </a>
    {% endset %}

    {% set auditTableRows = (auditTableRows.push([
      {
        html: audit.user.email
      },
      {
        html: audit.actionType
      },
      {
        html: audit.actionEntity
      },
      {
        html: audit.createdAt
      },
      {
        html: auditDetailHtml
      }
    ]), auditTableRows) %}
  {% endfor %}
{% endif %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if errors %}
          {{ modelDrivenErrorSummary(errors) }}
        {% endif %}
      </div>
    </div>

    <h1 class="govuk-heading-l">Audits</h1>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <form method="GET" action="/audits">
          {{ mojFilter({
            heading: {
              text: "Filters"
            },
            selectedFilters: {
              clearLink: {
                text: "Reset",
                href: '/audits'
              },
              heading: {
                text: "Selected filters"
              },
              categories: filterCategories
            },
            optionsHtml: filterOptionsHtml
          }) }}
        </form>
        {% if downloadUrl %}
          {{ govukButton({
            text: "Download CSV",
            classes: "govuk-!-margin-top-6",
            href: downloadUrl,
            arttributes: {
              rel: "noopener noreferrer",
              target: "_blank"
            }
          }) }}
        {% endif %}
      </div>

      <div class="govuk-grid-column-two-thirds">
         {% if auditTableRows.length %}
            {{ govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "User"
                },
                {
                  text: "Action"
                },
                {
                  text: "Location"
                },
                {
                  text: "Created at"
                },
                {
                  text: ""
                }
              ],
              rows: auditTableRows
            }) }}

            {{ createPager(filters, audits.page) }}

          {% else %}
            <p class="govuk-body">No audits returned.</p>
          {% endif %}

      </div>
    </div>
  </main>
{% endblock %}
