{% extends "template.njk" %}
{% from "macros/common-components.njk" import successPanel, nextActionsList %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  {{ successPanel(successPanelTitle , successPanelBody ) }}
  {% set continueUpdatingHref = continueUpdatingHref or '/courts/' + courtId + '/edit' %}
  {% set continueUpdatingText = continueUpdatingText or 'Continue updating ' + courtName %}
  {% set homeHref = homeHref or '/' %}
  {% set homeText = homeText or 'Home' %}
  {{ nextActionsList([
    { href: continueUpdatingHref, text: continueUpdatingText },
    { href: homeHref, text: homeText }
  ]) }}
{% endblock %}
