{% extends "template.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}

  {% if subjectType === 'SERVICE_CENTER' %}
    {% set subject = 'service-centres' %}
  {% else %}
    {% set subject = 'courts' %}
  {% endif %}

  {% set continueUpdatingHref = continueUpdatingHref or '/'+ subject +'/' + subjectId + '/edit' %}
  {% set continueUpdatingText = continueUpdatingText or 'Continue updating ' + subjectName %}
  {% set homeHref = homeHref or '/' %}
  {% set homeText = homeText or 'Home' %}
  {% set headingText = headingText or 'What do you want to do next?' %}

  {{ govukPanel({
    titleText: successPanelTitle,
    text: successPanelBody
  }) }}

  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">{{ headingText }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="{{ continueUpdatingHref }}" class="govuk-link govuk-link--no-visited-state">{{ continueUpdatingText }}</a></li>
    <li><a href="{{ homeHref }}" class="govuk-link govuk-link--no-visited-state">{{ homeText }}</a></li>
  </ul>

{% endblock %}
