{% extends "template.njk" %}
{% from "macros/common-components.njk" import successPanel %}
{% from "macros/common-components.njk" import addressBlock %}

{% block pageTitle %}
  Address Deleted
{% endblock %}

{% block content %}
  {{ successPanel("Address deleted: " + addressBlock(address, true), "You have removed this address for " + courtName) }}
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">What do you want to do next?</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/courts/{{ courtId }}/edit/address" class="govuk-link govuk-link--no-visited-state">Back to addresses</a></li>
    <li><a href="/" class="govuk-link govuk-link--no-visited-state">Home</a></li>
  </ul>

<pre>
courtName
{{ courtName | dump(2) }}

courtId
{{ courtId | dump(2) }}

address
{{ address | dump(2) }}
</pre>
{% endblock %}
