{% extends "template.njk" %}
{% from "macros/common-components.njk" import successPanel %}

{% block pageTitle %}
  Warning notice saved
{% endblock %}

{% block content %}
  {{ successPanel("Warning notice saved", "Warning notice for " + courtName + " has been successfully updated.") }}

  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">What do you want to do next?</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/courts/{{ courtId }}/edit/warning-notice" class="govuk-link govuk-link--no-visited-state">Back to warning notice</a></li>
    <li><a href="/" class="govuk-link govuk-link--no-visited-state">Home</a></li>
  </ul>
{% endblock %}
