{% extends "template.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/common-components.njk" import confirmationActions %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Are you sure you want to delete these opening hours?</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Court name"
            },
            value: {
              text: courtName
            }
          },
          {
            key: {
              text: "Opening hours type"
            },
            value: {
              text: openingHourType
            }
          },
          {
            key: {
              text: "Hours"
            },
            value: {
              html: hours
            }
          }
        ]
      }) }}

      <form method="post" action="/courts/{{ courtId }}/edit/court-opening-hours/delete/success/{{ openingHoursId }}">
        {{ confirmationActions("Delete opening hours", cancelHref) }}
      </form>
    </div>
  </div>
{% endblock %}
