{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/common-components.njk" import addressBlock, addressType %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Are you sure you want to delete this address?</h1>

      <form method="POST" action="/courts/{{ address.courtId }}/edit/address/delete/success/{{ address.id }}">

        {{ govukSummaryList({
          rows: [
            {
              key: { text: "Description" },
              value: { text: addressType(address) }
            },
            {
              key: { text: "Address" },
              value: { text: addressBlock(address) }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Delete address",
          classes: "govuk-button--warning"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
