{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Something went wrong</h1>
  <p class="govuk-body">Please log an incident on HALO, including the time the issue occurred and a screenshot including the url.</p>
{% endblock %}
