{% extends "template.njk" %}
{% from "macros/common-components.njk" import successPanel %}

{% block pageTitle %}
  Local authorities saved - {{ courtName }}
{% endblock %}

{% block content %}
  {{ successPanel("Local authority settings for " + courtName + " have been successfully updated") }}
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">What do you want to do next?</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/courts/{{ courtId }}/edit" class="govuk-link govuk-link--no-visited-state">Continue updating {{ courtName }}</a></li>
    <li><a href="/" class="govuk-link govuk-link--no-visited-state">Home</a></li>
  </ul>
{% endblock %}
