{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Lock Failed</h1>
  <p class="govuk-body">It was not possible to acquire a lock for the {{ subject }} {{ page }} page</p>
{% endblock %}
