{% extends "template.njk" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Service centre address</h1>
      <p class="govuk-body">If you do not add an address, this service centre will be marked as closed.</p>
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/">Back to courts, tribunals and service centres</a>
      </p>
    </div>
  </div>
{% endblock %}
