{% extends "template.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  {% set editPath = '/service-centres/' + serviceCentreId + '/edit' %}
  {% set sections = [
    { href: editPath + '/general', label: 'General', status: 'TODO' },
    { href: editPath + '/warning-notice', label: 'Warning notice', status: 'TODO' },
    { href: editPath + '/address', label: 'Address', status: 'TODO' },
    { href: editPath + '/contact-details', label: 'Contact details', status: 'TODO' },
    { href: editPath + '/cases-heard', label: 'Cases heard', status: 'TODO' }
  ] %}
  {% set sectionRows = [] %}
  {% for section in sections %}
    {% set statusId = "service-centre-edit-" + loop.index + "-status" %}
    {% set sectionRows = (sectionRows.push([
      {
        html: '<a class="govuk-link" href="' + section.href + '" aria-describedby="' + statusId + '">' + section.label + '</a>'
      },
      {
        html: '<span id="' + statusId + '">' + govukTag({
          text: section.status,
          classes: "govuk-tag--grey"
        }) + '</span>'
      }
    ]), sectionRows) %}
  {% endfor %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <div class="court-edit-table__wrapper">
        {{ govukTable({
          classes: "court-edit-table",
          firstCellIsHeader: false,
          rows: sectionRows
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
