{% extends "template.njk" %}

{% block pageTitle %}
  Service centre not found
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Service centre not found</h1>
      <p class="govuk-body">This service centre does not exist.</p>
      <p class="govuk-body">
        <a class="govuk-link" href="/">Return to the home page to view another service centre</a>
      </p>
    </div>
  </div>
{% endblock %}
