{% extends "template.njk" %}
{% from "macros/lock-status-edit-view.njk" import lockStatusEditView %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  {% set editPath = '/service-centres/' + serviceCentreId + '/edit' %}
  {% set sections = [
    { href: editPath + '/address', label: 'Address', page: 'address' },
    { href: editPath + '/cases-heard', label: 'Cases heard', page: 'cases-heard'  },
    { href: editPath + '/contact-details', label: 'Contact details', page: 'contact-details' },
    { href: editPath + '/general', label: 'General', page: 'general' },
    { href: editPath + '/warning-notice', label: 'Warning notice', page: 'warning-notice' }
  ] %}
  {{ lockStatusEditView(
    "service-centre",
    serviceCentreName,
    serviceCentreLocks,
    sections,
    timeoutMins,
    showApproveData,
    approvePath,
    isViewer)
  }}
{% endblock %}
