{% extends "govuk/template.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "macros/Breadcrumb.macro.njk" import appBreadcrumb %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block govukHeader %}
  {% set isCourtsPage = pagePath == "/" %}
  {% set isDownloadPage = pagePath.startsWith("/download") %}
  {% set isAddCourtPage = pagePath.startsWith("/add-court") %}
  {% set isAddServiceCentrePage = pagePath.startsWith("/add-service-centre") %}
  {% set isApprovalsPage = pagePath.startsWith("/approvals") %}
  {% set isAuditPage = pagePath.startsWith("/audits") %}
  {% set isUsersPage = pagePath.startsWith("/users") %}
  {{ govukHeader({
    homepageUrl: "/",
    attributes: {
      "fact-header": ""
    }
  }) }}
  {{ govukServiceNavigation({
    classes: "app-service-navigation",
    serviceName: "Find a Court or Tribunal Admin",
    serviceUrl: "/",
    navigation: [
      {
        href: "/",
        text: "Locations",
        current: isCourtsPage
      },
      {
        href: "/download",
        text: "Download csv",
        current: isDownloadPage
      } if not isViewer else false,
      {
        href: "/add-court",
        text: "Add new court",
        current: isAddCourtPage
      } if not isViewer else false,
      {
        href: "/add-service-centre",
        text: "Add new service centre",
        current: isAddServiceCentrePage
      } if not isViewer else false,
      {
        href: "/approvals",
        text: "Approvals tracker",
        current: isApprovalsPage
      } if not isViewer else false,
      {
        href: "/audits",
        text: "Audits",
        current: isAuditPage
      } if isSuperAdmin else false,
      {
        href: "/users",
        text: "Users",
        current: isUsersPage
      } if isSuperAdmin else false
    ]
  }) }}
{% endblock %}

{% block govukFooter %}
  {{ govukFooter({}) }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs and breadcrumbs.length %}
    {{ appBreadcrumb(breadcrumbs) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
