{% extends "govuk/template.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "macros/Breadcrumb.macro.njk" import appBreadcrumb %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {% set isCourtsPage = pagePath == "/" %}
  {% set isDownloadPage = pagePath.startsWith("/download") %}
  {% set isAddCourtPage = pagePath.startsWith("/add-court") %}
  {% set isAuditPage = pagePath.startsWith("/audits") %}
  {% set isUsersPage = pagePath.startsWith("/users") %}
  {{ govukHeader({
    homepageUrl: "/",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [
      {
        href: "/sso/logout",
        html: "<strong>Sign out</strong>"
      }
    ]
  }) }}
  {{ govukServiceNavigation({
    serviceName: "Find a Court or Tribunal Admin",
    serviceUrl: "/",
    navigation: [
      {
        href: "/",
        text: "Courts",
        current: isCourtsPage
      },
      {
        href: "/download",
        text: "Download csv",
        current: isDownloadPage
      },
      {
        href: "/add-court",
        text: "Add new court",
        current: isAddCourtPage
      },
      {
        href: "/audits",
        text: "Audit",
        current: isAuditPage
      } if isSuperAdmin else false,
      {
        href: "/users",
        text: "Users",
        current: isUsersPage
      } if isSuperAdmin else false
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({}) }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs and breadcrumbs.length %}
    {{ appBreadcrumb(breadcrumbs) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
