{% extends "govuk/template.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "macros/Breadcrumb.macro.njk" import appBreadcrumb %}
{% from "macros/timeout-dialog.njk" import hmrcTimeoutDialog %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block bodyStart %}
  {% if timeoutDialogConfig %}
    {% set subject = timeoutDialogConfig.subject if timeoutDialogConfig.subject is defined else "main" %}
    {{ hmrcTimeoutDialog ({
      timeout: timeoutDialogConfig.timeout if timeoutDialogConfig.timeout is defined else 900,
      countdown: timeoutDialogConfig.countdown if timeoutDialogConfig.countdown is defined else 120,
      title: "Continue editing?",
      message: "Are you still editing this page?  You will be automatically returned to the " + subject + " edit page in",
      keepAliveUrl: "javascript: void(0)",
      keepAliveButtonText: "Continue editing",
      signOutButtonText: "Return to " + subject + " edit page",
      signOutUrl: timeoutDialogConfig.signOutUrl if timeoutDialogConfig.signOutUrl is defined else "/",
      timeoutUrl: timeoutDialogConfig.timeoutUrl if timeoutDialogConfig.timeoutUrl is defined else "/",
      language: "en"
    }) }}
  {% endif %}
{% endblock %}

{% block govukHeader %}
  {% set isCourtsPage = pagePath == "/" %}
  {% set isDownloadPage = pagePath.startsWith("/download") %}
  {% set isAddCourtPage = pagePath.startsWith("/add-court") %}
  {% set isAddServiceCentrePage = pagePath.startsWith("/add-service-centre") %}
  {% set isApprovalsPage = pagePath.startsWith("/approvals") %}
  {% set isAuditPage = pagePath.startsWith("/audits") %}
  {% set isUsersPage = pagePath.startsWith("/users") %}
  {{ govukHeader({
    homepageUrl: "/",
    attributes: {
      "fact-header": ""
    }
  }) }}
  {{ govukServiceNavigation({
    classes: "app-service-navigation",
    serviceName: "Find a Court or Tribunal Admin",
    serviceUrl: "/",
    navigation: [
      {
        href: "/",
        text: "Locations",
        current: isCourtsPage
      },
      {
        href: "/download",
        text: "Download csv",
        current: isDownloadPage
      } if not isViewer else false,
      {
        href: "/add-court",
        text: "Add new court",
        current: isAddCourtPage
      } if not isViewer else false,
      {
        href: "/add-service-centre",
        text: "Add new service centre",
        current: isAddServiceCentrePage
      } if not isViewer else false,
      {
        href: "/approvals",
        text: "Approvals tracker",
        current: isApprovalsPage
      } if not isViewer else false,
      {
        href: "/audits",
        text: "Audits",
        current: isAuditPage
      } if isSuperAdmin else false,
      {
        href: "/users",
        text: "Users",
        current: isUsersPage
      } if isSuperAdmin else false
    ]
  }) }}
{% endblock %}

{% block govukFooter %}
  {{ govukFooter({}) }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs and breadcrumbs.length %}
    {{ appBreadcrumb(breadcrumbs) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
