{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro successPanel(title='', text='') %}
  {{ govukPanel({
    titleText: title,
    text: text
  }) }}
{% endmacro %}

{# Address Block #}
{% macro addressBlock(address, asRow=false) %}
  {%- if asRow %}
    {{ address.addressLine1 }}, {%- if address.addressLine2 %} {{ address.addressLine2 }}, {% endif -%} {{ address.townCity }}, {%- if address.county %} {{ address.county }}, {% endif -%} {{ address.postcode }}
  {% else %}
    <p class="govuk-body govuk-!-margin-bottom-1">{{ address.addressLine1 }}</p>
    {% if address.addressLine2 %}
      <p class="govuk-body govuk-!-margin-bottom-1">{{ address.addressLine2 }}</p>
    {% endif %}
    <p class="govuk-body govuk-!-margin-bottom-1">{{ address.townCity }}</p>
    {% if address.county %}
      <p class="govuk-body govuk-!-margin-bottom-1">{{ address.county }}</p>
    {% endif %}
    <p class="govuk-body govuk-!-margin-bottom-0">{{ address.postcode }}</p>
  {% endif -%}
{% endmacro %}

{# presentable format of the addressType #}
{% macro addressType(address) %}
  {%- if address.addressType === "WRITE_TO_US" %}
    Send documents to
  {% elseif address.addressType === "VISIT_OR_CONTACT_US" %}
    Visit and send documents to
  {% else %} {# visit us #}
    Visit
  {% endif -%}
{% endmacro %}

{# common error summary/linking for templates where we #}
{# explicitly map the schema model to the view model #}
{% macro modelDrivenErrorSummary(model) %}
  {% set errorList = [] %}
  {% for field, errors in model.errors %}
    {% if field !== "timestamp" %}
      {% set fieldErrors = [] %}
      {% for error in errors %}
        {% set href = "#" + field if field !== "message" else null %}
        {% set errorList = (errorList.push({
          text: error,
          href: href
        }), errorList) %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errorList
  }) }}
{% endmacro %}
