{% extends "template.njk" %}
{% from "macros/common-components.njk" import successPanel, addressBlock, nextActionsList %}

{% block pageTitle %}
  Address Saved
{% endblock %}

{% block content %}
  {% set successMessage = "Addresses for " + courtName + " have been successfully updated." %}
  {% if courtOpened %}
    {% set successMessage = successMessage + " The court is now open." %}
  {% endif %}

  {{ successPanel("Address saved: " + addressBlock(address, true), successMessage) }}
  {{ nextActionsList([
    { href: '/courts/' + courtId + '/edit/address', text: 'Back to addresses' },
    { href: '/', text: 'Home' }
  ]) }}

{% endblock %}
