{% extends "template.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/common-components.njk" import confirmationActions, contactDetailsBlock %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Are you sure you want to delete these contact details?</h1>

      <form method="POST" action="/courts/{{ courtId }}/edit/contact-details/delete/{{ contactDetailId }}/success">
        {{ csrfProtection(csrfToken) }}
        {{ govukSummaryList({
          rows: [
            {
              key: { text: "Court" },
              value: { text: courtName }
            },
            {
              key: { text: "Description" },
              value: { text: contactDetail.description or '' }
            },
            {
              key: { text: "Details" },
              value: { html: contactDetailsBlock(contactDetail, { inline: true, includeExplanation: true }) }
            }
          ]
        }) }}

        {{ confirmationActions("Yes, delete contact details", cancelHref) }}
      </form>
    </div>
  </div>
{% endblock %}
